.header{
    width: 100vw;
    height: 100px;
    background-color: #9ccc35;
    display: flex;
    font-family: Georgia, serif;
    align-items: center;
    cursor: pointer;
}
.p-element{
    position: absolute;
    align-items: center;
    right: 30px;  
}

img{
    width: 100px;
    height: 100px;
}

.space{
    text-align: center;
    padding:  20px;
    justify-content: center;
}

.container{
    width: 100%;
    display: flex;
}

.content{
    display: flex;
    justify-content: space-between;
}

.left{
    width: 50%;
    border: 1px solid black;
}

.left img {
    width: 100%; 
    height: auto;
}

.right{
    width: 50%;
    border: 1px solid black;
}