.header{
    width: 100%;
    height: 100px;
    background-color: #9ccc35;
    display: flex;
    font-family: Georgia, serif;
    align-items: center;
  
}    

.space{
    text-align: center;
    padding:  20px;
    justify-content: center;
    cursor: pointer;
}

.container {
    width: 100%;
    background-color: #9ccc35;
}

.content{
    display: flex;
    justify-content: space-between;
}

.logo2{
    width: 100px;
    height: 100px;
}

.p-element{
    position: absolute;
    align-items: center;
    right: 30px;  
}

.left {
    position: relative; 
    text-align: center; 
    padding-left: 60px;
    
}

.left h3 {
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);    
    font-size: 25px;
    font-family: 'normal';
    padding: 10px; 
    border-radius: 5px; 
}

.left img {
    width: 100%; 
    height: auto;
}


