<div>
    <header class="header">
      <img src="assets/image/logo.jpg" alt=""> 
      <th class="space" [routerLink]="['/login']">Home</th>
        <th class="space" [routerLink]="['/envet']">Cursos</th>
        <th class="space">Carreira Nacional</th>
        <th class="space">Vagas Internas</th>
        <th class="space">Sair</th>
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
            styleClass="mr-2" 
            size="xlarge" 
            shape="circle" /> 

    </header>

  <div class="container">   
    <section>
      <div class="content">  
        <div class="coletion">
          <div>
            <iframe width="260" height="155" 
              src="https://www.youtube.com/embed/OCShH-8cAUQ?si=3f5KhukejQpsOohJ" 
              title="YouTube video player" frameborder="0" allow="accelerometer; 
              autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          </div>          

          <div>
            <iframe width="260" height="155" 
            src="https://www.youtube.com/embed/XV6pgF0uQxM?si=_uQJh4j5NHsrwW5I" 
            ></iframe>
          </div>

          <div>
            <iframe width="260" height="155" 
            src="https://www.youtube.com/embed/1-w1RfGIov4?si=DBUDCd7RCxLls1Ey" 
           ></iframe>
          </div>

          <div>
            <iframe width="260" height="155" 
            src="https://www.youtube.com/embed/39r_cpIN214?si=rZ9_20QQtBJatHAk" 
            ></iframe>
          </div>
  
        </div>
  
        <div class="left">
          <div class="video-container">
              <iframe width="260" height="155"
                  src="https://www.youtube.com/embed/YE0exXoH2IY?si=IFMw8I3QMSq8c0TT"
                  ></iframe>
              <h3>Dicas de Networking</h3>
          </div>
      
          <div class="video-container">
              <iframe width="260" height="155"
                  src="https://www.youtube.com/embed/pjSPiPooqkQ?si=7HD-lnBuhm5SRSwj"
                  ></iframe>
              <h3>Vocaçao</h3>
          </div>
      
          <div class="video-container">
              <iframe width="260" height="155"
                  src="https://www.youtube.com/embed/v-_vHRXDNjQ?si=_VV8Njf7K4QRZX8T"
                 ></iframe>
              <h3>TBO</h3>
          </div>

          <div class="video-container">
            <iframe width="260" height="155" 
                src="https://www.youtube.com/embed/bdlRZqp7NHI?si=8nnqpQT0rMi3Q6ag" 
                ></iframe>

                <h3>Extrusão</h3>
         </div>
        </div>       
      </div>
      
    </section>
  </div> 
</div>

