<div>
    <header class="header">
      <h3> TUTY <br> ACADEMY</h3>     
        <th class="space" [routerLink]="['/login']">Home</th>
        <th class="space" [routerLink]="['/envet']">Cursos</th>
        <th class="space">Carreira Nacional</th>
        <th class="space">Vagas Internas</th>
        <th class="space">Sair</th>
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
            styleClass="mr-2" 
            size="xlarge" 
            shape="circle" /> 

    </header>

  <div class="container">  
    
    <section>
      <div class="content">
  
        <div class="coletion">
  
        </div>
  
        <div class="left">
          <p>brasil</p>

        </div>
  
        <div class="right">
           <p>Sija bem vindo</p>
        </div>
      </div>
      
    </section>
  </div> 
</div>
