<header>
    <h2>T</h2>
    <p>TUTIPLAST</p>
</header>
<section class="container">
    <div class="left">
        <p>Seja bem vindo a plataforma <br>
           de cursos da TUTIPLAST</p>

    </div>

    <div class="right">
        <h3>Preencha o formulario</h3>
        <input type="text" name="matricula" id="matricula" placeholder="Informe sua matricula" required>
        <input type="password" name="password" id="password" placeholder="Senha" required>
        <img src="assets/image/olho1.png" alt="Mostrae/Ocultar senha" id="TogglePassword"> 
        <input type="button" value="ENTRAR">       
        
    </div>
</section>